# Internationalization and Localization requirements
Django==1.11
Babel==1.3
# TODO: Revert back to `poeditor-client`, once this PR is merged: https://github.com/lukin0110/poeditor-client/pull/7
git+https://github.com/appsembler/poeditor-client@omar/i18n#egg=poeditor-client
edx-i18n-tools==0.4.5
path.py==7.2
